/* Default */
#wrap {min-width: inherit;width: 100%;padding: 0}
#phpbb {padding: 0;background: #e9eaed;font-family: Arial,sans-serif;}
a {text-decoration: inherit!Important;display: inline-block;}
a:hover {color: darkorange}
.fade {background-image: none}
.tran,p,div,a,span,img, iframe, embed,object,textarea,ol, ul,li,h1,h2,h3,h4,i,b{-webkit-transition: all .2s ease-in-out 0s;-o-transition: all .2s ease-in-out 0s;-khtml-transition: all .2s ease-in-out 0s;-moz-transition: all .2s ease-in-out 0s;-ms-transition: all .2s ease-in-out 0s}
.tran5{-webkit-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;-khtml-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s}
.tran10{-webkit-transition: all 1s ease-in-out 0s;-o-transition: all 1s ease-in-out 0s;-khtml-transition: all 1s ease-in-out 0s;-moz-transition: all 1s ease-in-out 0s;-ms-transition: all 1s ease-in-out 0s}
.stroke_b:hover,.stroker_b,.box_box_con a:hover{text-shadow: 1px 1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, -1px -1px 0 #333;}
.stroke_w:hover,.stroker_w{text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;}
li {list-style-type: none}
ol, ul {padding: 0}
div,form {float: left;width: 100%}
p,div,a,span{word-wrap: break-word;}
img, iframe, embed,object,textarea {max-width: 100%;}
.content.clearfix img {margin: 5px auto}
textarea,.wysibb-body{font-size:18px};
.post_body img,.post_body iframe,.post_body embed,.post_body object,#box_forum .forum_box_list,.socialbar,.fotter_list .forum_box_list,.option_search .forum_box_mod,.profile_user_box .forum_box_mod,.name_change {margin:10px 0;}
.pad5{padding:5px;}
.pad5_t{padding: 5px 0}
.pad5_le{padding: 0 5px}
#main_body>.col-md-12 {margin: 10px 0;}
h1,h2,h3,h4{font-weight: bold;margin: 5px 0;}
.content.clearfix h2,.wysibb-body h2 {line-height: 40px;color: darkmagenta;}
.content.clearfix h3,.wysibb-body h3 {line-height: 35px;color: darkgoldenrod;}
.content.clearfix h4,.wysibb-body h4 {line-height: 30px;color: darkviolet;}
.dhide,div[onclick*="Phim Server 1"]{display: none}
.ficon{font-family: FontAwesome,Tahoma;}
@-moz-keyframes dots-loader {0% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}8.33% {-moz-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}16.67% {-moz-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}25% {-moz-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;}33.33% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;}41.67% {-moz-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}50% {-moz-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}58.33% {-moz-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}66.67% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}75% {-moz-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;}83.33% {-moz-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;}91.67% {-moz-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}100% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}}
@-webkit-keyframes dots-loader {0% {-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}8.33% {-webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}16.67% {-webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}25% {-webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;}33.33% {-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;}41.67% {-webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}50% {-webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}58.33% {-webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}66.67% {-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}75% {-webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;}83.33% {-webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;}91.67% {-webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}100% {-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}}
@keyframes dots-loader {0% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}8.33% {-moz-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}16.67% {-moz-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}25% {-moz-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;}33.33% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;}41.67% {-moz-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;-webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}50% {-moz-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;-webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}58.33% {-moz-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;-webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}66.67% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;}75% {-moz-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;-webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;}83.33% {-moz-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;-webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;}91.67% {-moz-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}100% {-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;}}
/* :not(:required) hides this rule from IE9 and below */
.dots-loader:not(:required) {overflow: hidden;position: relative;text-indent: -9999px;display: inline-block;width: 7px;height: 7px;background: transparent;border-radius: 100%;-moz-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;-moz-animation: dots-loader 5s infinite ease-in-out;-webkit-animation: dots-loader 5s infinite ease-in-out;animation: dots-loader 5s infinite ease-in-out;-moz-transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;}
.loading {position: fixed;left: 0;right: 0;text-align: center;top: 0;bottom: 0;background: rgba(0, 0, 0, 0.49);z-index: 999;cursor: progress;}
.dots-loader {float: none;}
.load_content {position: fixed;top: 40%;bottom: 0;}
.load_text {color: white;margin-top: 30px;font-size: 20px;}
/* Menu nav */
#wrap_body {padding-left: 100px;}
#sub-footer .row {margin: 0;}
#sub-footer .container {width: 100%;}
.nav_mobile_click {display: none;}
.list-menu {width: 90px;position: fixed;top: 0;bottom: 5%;margin: 0;z-index: 99999}
.list-menu li,.list-menu li a {width: 100%;text-align: center}
.list-menu li a .fa {font-size: 40px;display: block;margin-bottom: 5px}
.list-menu li a,.form_head_center,.login_header h2 {color: white}
.user_img {display: block}
.user_img img {height: 40px}
.list-menu li {background: darkgreen;margin: 20px 0;position: relative}
.list-menu li a {padding: 5px 0}
.list-menu li:hover {background: darkmagenta}
.list-hide-tab {position: absolute;left: -9999px;top: 0;width: 320px;opacity: 0}
.list-hide-tab .fa {display: inline-block!important;width: initial;font-size: inherit!important}
.list-menu li div a {text-align: left!important;padding: 20px;font-size: 20px;background: #23334B;margin-bottom: 10px}
.list-menu li div a:hover {background: darkorchid}
.list-menu li:hover .list-hide-tab {left: 90px;opacity: 1}
.login_header .list-tab-content {background: #23334B;margin: 0 5px}
.list-hide-tab .list-tab-content,.menu-content  {padding: 0 5px}
.tab_link:hover .tab_movie {left: 95px!important}
.tab_link .tab_movie {top: 5%;position: fixed;width: 274px}
.login_header .form_head_center div {margin: 5px 0;padding: 0 10px}
.small-info {position: absolute;left: 76px;background: red;font-size: 28px;font-weight: bold;top: 10px;opacity: 1;padding: 0 11px;display: none}
.small-info:before {position: absolute;content: "";left: -8px;top: 10px;width: 15px;background: red;height: 15px;transform: rotate(135deg)}
/* Box Forum */
#box_forum {margin-top: 10px}
.bor_forum_left {display: inline-block;margin-left: 20px}
.forum_box_name {padding: 5px;background: #23334B;color: white;font-size: 20px;position: relative;z-index: 9}
.bor_forum_right {position: absolute;right: 0;top: 0;bottom: 0;background: #45CCFF;display: inline-block;width: 30%;overflow: hidden;text-align: center;font-size: 30px;max-width: 100px;line-height: 50px;}
.bor_forum_right .fa:before {font-family: 'Glyphicons Halflings';content: "\e104"}
.bor_forum_right:before {transition: all .2s ease-in-out 0s;position: absolute;content: "";top: -7px;z-index: 2;width: 0;height: 0;border-style: solid;left: 0px;border-width: 0 0 45px 10px;border-color: transparent transparent #45CCFF;background: #23334B;}
.bor_forum_left:before {content: "";background: #45CCFF;top: 0;bottom: 0;width: 10px;left: 0;position: absolute}
.forum_box_head_grid {background: #E2E2E2;font-size: 15px;line-height: 25px}
.forum_box_list {background: white;border-top: 0;}
.forum_box_box h3 {margin: 0;padding: 5px}
.forum_box_box h3 a {line-height: 35px;}
.forum_box_box_grid {border-bottom: 1px solid #e1e1e8;line-height: 25px}
.forum_box_box_grid:last-child {border: 0}
.forum_topic_list .forum_header,.forum_box_list .forum_header{border-right: 1px solid #ccc}
.forum_box_list .forum_header {min-height: 120px;    padding-left: 0}
.forum_topic_list .forum_header {min-height: 80px;}
.box_chi_tiet span {padding: 0 5px}
.forum_box_name h2 {margin: 0;font-size: 20px;display: inline-block}
.forum_box_box.tag,.forum_box_box.online,.fanpage {padding: 5px;word-wrap: break-word}
.noi_dung_box br {display: none}
.box_noidung span {display: block}
.forum_box_img {position: relative;text-align: center}
.box_noidung .fa {display: none;}
.box_noidung[style*="unread"] em {color: crimson}
.box_noidung[style*="unread"] em:after {content: "Có bài mới";font-size: 12px;display: block}
.forum_box_box.tag a {margin-right: 3px}
#box_forum .forum_box_list,.fotter_list .forum_box_list,.block_post .forum_box_list {margin: 10px 0!important;}
/* Login Index */
.online form div {padding: 10px 0}
.auto_input input {display: inline-block}
.online form {text-align: center}
.input_input input,.input_input a {background: darkgreen;color: white;padding: 5px 10px;border: 0;display: inline-block;margin: 0 10px}
.input_input input:hover {background: darkcyan}
.online legend {display: none}
.forum_topic_list .forum_box_list {border: 0;margin-top: 0}
.forum_topic_list .forum_box_url {/* padding-left: 10% */}
.box_author a {display: inline-block}
/* Footer */

#footer-section {position: relative;background: none repeat scroll 0 0 #00a2d9}
#sub-footer {background: black}
.footer-foreground {margin-top: 20px;margin-bottom: 20px;padding: 10px 10px 0;color: #fff;border-radius: 4px;background: none repeat scroll 0 0 rgba(0, 0, 0, .25)}
.footer-foreground a {color: #fff}
.bottomLinks {padding: 20px 0}
.copyrights {color: #869aaf}
.copyrights i {font-size: 12px}
.copyrights a {padding-bottom: 1px;text-decoration: none;border-bottom: 1px solid rgba(0, 0, 0, .1)}
.footer-nav li {padding: 5px 5px 0}
.footer-nav a {color: #fff}
.text-overflow {overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.debug-output {display: block;text-align: right;color: #869aaf}
.interact a {margin-right: 10px}
.twitter-time {color: #869aaf}
.twitter h3 a small {text-transform: none;color: #869aaf}

/* ===[ SOCIAL ICONS ]=== */
.social-network {text-align: right}
.socialbar .social-icons li {line-height: 1em;display: inline-block;height: 38px;margin: 0 3px}
.social-network a {font-size: 22px;display: inline-block;width: 30px;height: 30px;margin: 0 3px;transition: all .2s linear 0s;text-align: center;color: #fff !important;border-radius: 2px}
.social-network a:hover {transition: all .1s linear 0s;color: #2d2d2d!important;border-bottom: none;background-color: #fff}
.google-plus-color {background-color: #d34836}
.pinterest-color {background-color: #cb2027}
.facebook-color {background-color: #3b5998}
.behance-color {background-color: #1769ff}
.dropbox-color {background-color: #007ee5}
.envato-color {background-color: #82b540}
.twitter-color {background-color: #00aced}
.rss-color {background-color: #e48645}
.rss-color-forum {color: #e48645}
.github-color {background-color: #333}
footer.burned-asphalt {background: black;float: left;width: 100%}
/* Topic list */
.box_hien_img[title*="_unread"]:before,.box_hien_img[title*="folder_announce_new1"]:before{color:red}
.box_hien_img[title*="announce_read"]:before, .box_hien_img[title*="announce_unread"]:before{content:"\f0a2"}
.box_hien_img[title*="folder_announce1"]:before, .box_hien_img[title*="folder_announce_new1"]:before{content:"\f071"}
.box_hien_img[title*="sticky_read"]:before, .box_hien_img[title*="sticky_unread"]:before{content:"\f0a1"}
.box_hien_img[title*="topic_read"]:before, .box_hien_img[title*="topic_unread"]:before,.box_hien_img[title*="topic_unread_hot"]:before{content:"\f0e5"}
.box_hien_img[title*="topic_read_locked"]:before, .box_hien_img[title*="topic_unread_locked"]:before{content:"\f023"}
.box_hien_img[title*="topic_read_hot"]:before{content:"\f006";color:gold}
.box_hien_img:before{font-size:50px;vertical-align:middle;padding:5px;font-weight:100!Important;color: black;font-family: FontAwesome;text-align: center;margin: 0 auto;display: block;}
.forum_topic_list .forum_box_img {padding: 0}
.forum_topic_list {border: 0;background: inherit}
.forum_topic_list .inner {background: white}
.forum_topic_list .forum_header {border-right: 1px solid #ccc}
.topic_list_box .forum_box_box {border-bottom: 1px solid #ccc}
.topic_list_box .forum_box_box:last-child {border: 0}
.noi_dung_box {padding: 0 5px;}
.block_post .post-icon {margin-top: 10px}
.block_post .forum_box_mod {padding: 5px}
.post-icon {text-align: center}
.post-icon a {display: block;width: 120px;height: 120px;margin: 0 auto;background: darkcyan;color: white;font-size: 18px}
.post-icon a i {font-size: 93px;display: block}
.post-icon a:hover {background: darkmagenta}
.block_title {background: #23334B;height: auto;position: relative;margin: 10px 0;}
.block_title h1 a, .block_title h1 {text-align: center;color: white;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 50px;max-height: 100px;min-height: 100px;}
.block_title h1:before,.block_title h1:after {content: "";background: #45CCFF;display: inline-block;position: absolute;left: 0;top: 0;width: 10px;bottom: 0}
.block_title h1:after {left: 99%}
.block_title h1 a:hover {color: darkorange}
.box_chi_tiet {text-align: right;}
.box_box_con {font-size: 0;display: block;}
.box_box_con a {font-size: 14px;margin-right: 10px;}
.box_box_con a:first-child:before {content: "Chuyên mục: \f075";color: white!important;}
.box_box_con a:before {content: "\f075";font-family: FontAwesome;margin-right: 3px;}
.box_box_con[onclick$="''"] {display: none;}
/* Breadcrumb */
.breadcrumb{overflow: hidden;width: 100%;background: #23334B;margin-bottom: 0;padding: 0}
.breadcrumb li{float: left;margin: 0 10px 0 10px}
.breadcrumb a{background: #ddd;padding: .7em 1em;float: left;text-decoration: none;color: white;text-shadow: 0 1px 0 rgba(255,255,255,.5); position: relative}
.breadcrumb a:hover{background: #efc9ab}
.breadcrumb a::before,
.breadcrumb a::after{content:'';position:absolute;top: 0;bottom: 0;width: 1em;background: #ddd;transform: skew(-10deg);  }
.breadcrumb a::before{left: -.5em;display: inline-block}
.breadcrumb a:hover::before{background: #efc9ab}
.breadcrumb a::after{right: -.5em;   display: inline-block}
.breadcrumb a:hover::after{background: #efc9ab}
.breadcrumb .current,
.breadcrumb .current:hover{font-weight: bold;background: none}
.breadcrumb .current::after,
.breadcrumb .current::before{content: normal}
.breadcrumb>li+li:before {display: none}
.breadcrumb li:first-child a:before {background: #45CCFF;transform: inherit;left: -10px}
.breadcrumb_block {background: #45CCFF;position: relative;color: white;margin: 10px 0;}
.breadcrumb li:nth-child(1) a, .breadcrumb li:nth-child(1) a:after {background: darkcyan}
.breadcrumb li:nth-child(2) a, .breadcrumb li:nth-child(2) a:after,.breadcrumb li:nth-child(2) a:before {background: darkmagenta}
.breadcrumb li:nth-child(3) a, .breadcrumb li:nth-child(3) a:after, .breadcrumb li:nth-child(3) a:before {background: darkorchid}
.breadcrumb li:nth-child(4) a, .breadcrumb li:nth-child(4) a:after, .breadcrumb li:nth-child(4) a:before {background: darkgoldenrod}
.breadcrumb li:nth-child(5) a, .breadcrumb li:nth-child(5) a:after, .breadcrumb li:nth-child(5) a:before {background: darkgreen}
.breadcrumb li a:hover,.breadcrumb li a:hover:after,.breadcrumb li a:hover:before {background: darkorange}
.breadcrumb li:first-child a:hover:before {background: #45CCFF}
/* pagination */
.pagination{margin-top:15px;overflow:hidden;clear:both;display:block;text-align:center;font-size:14px;text-transform:uppercase;background:#DDDEE0}
.pagination .desc{margin-right:5px}
.pagination .current,.pagination .item{margin:5px}
.pagination .current,.pagination .item a{background:#1a2b44;padding:7px 14px;font-weight:700;color:#fff;display:inline-block}
.pagination .current,.pagination .item a:hover{background-color:#45CCFF}
.box_noidung .pagination .current,.box_noidung .pagination .item a {padding: 0px 3px;}
.box_noidung .pagination span {display: inline-block}
/* View Topic */
.view_topic .post-icon a {display: inline-block;margin-right: 20px}
.postprofile {height: 100%;position: relative;margin: 10px 0;display: inline-block}
.box_view_topic {margin: 20px 0}
.post_body {background: white;min-height: 280px;padding: 0}
.post_topic {background: #1C89A5;;margin:  10px 0}
.view_topic .profile_user {width: 20%;max-width: 200px;}
.view_topic .post_body {width: 80%;}
.avata_img img {background: white;width: 100%;height: 120px;border: 5px solid white;}
.avata_img {padding: 0;width: 120px;margin: 5px auto!important;float: none;height: 120px;}
.box_profile_left {margin: 3px 0;background: white;padding: 0 5px;text-align: center}
.total_post_label {text-align: left}
.postprofile br {display: none}
.post_body .content.clearfix {padding: 0 15px;line-height: 25px;}
.post_topic .author {background: #23334B;color: white;padding: 10px;position: relative}
.box_profile_left a {word-wrap: break-word;width: 100%}
.tool_post li {display: inline-block;width: 100px;height: 75px;text-align: center;position: relative}
.tool_post {text-align: right;position: absolute;bottom: 0}
.tool_post li a:first-child {display: none!important}
.tool_post .edit_topic a:last-child,.tool_post .delete_topic a:last-child {display: block}
.tool_post li .fa {font-size: 53px;display: block}
.postbody u {display: none}
.topic_like {background: white;}
.topic_like .btt_like {height: 50px;padding-top: 5px;padding-bottom: 5px;}
.topic_like .fb-like iframe, .topic_like .fb-share-button iframe,.topic_like #___plusone_0 iframe,.topic_like #___plus_0 iframe {transform: scale(1.2);-ms-transform: scale(1.2);-webkit-transform: scale(1.2);-o-transform: scale(1.2);-moz-transform: scale(1.2);transform-origin: top left;-ms-transform-origin: top left;-webkit-transform-origin: top left;-moz-transform-origin: top left;-webkit-transform-origin: top left; top: 0;}
.topic_like .fb-like span,.topic_like .fb-share-button span {position: initial!important}
a.da_thank {color: black;cursor: no-drop;}
.show_thanker a:after {content: ",";padding-right: 3px;}
.box_thanker {font-size: 14px;padding: 5px 3%;margin: 20px 0 100px 0;opacity: 0;clear: left;}
.show_thanker {padding: 5px;border: 1px dashed #ccc;background: rgba(219, 219, 219, 0.17);}
.show_thanker a:last-child:after {content:" thích bài viết này.";color: #919090;}
#quick_reply {width: 100%;float: left}
#quickreply .wysibb-body, #quickreply #editor {min-height: 200px!important;max-height: 200px!important}
#quickreply .submit_post {background: #E9EAED}
#quickreply .forum_box_mod {padding: 0}
#quickreply .wysibb {margin-top: 0;}
.forum_box_list.rules .forum_box_mod {font-weight: bold}
.wysibb .wysibb-toolbar .wysibb-toolbar-container {width: inherit;margin: 10px 0;}
.wysibb-body {min-height: 400px!important;max-height: inherit!important;overflow: hidden!important;padding: 0 20px;}
.wbb-fontfamily,.wbb-fontsize,#quickreply .wbb-thanker,#quickreply .wbb-download,#quickreply .wbb-spoiler,#quickreply .wbb-quote,#quickreply .wbb-tbl,#quickreply .wbb-italic,#quickreply .wbb-underline,#quickreply .wbb-fontfamily,#quickreply .wbb-bullist,#quickreply .wbb-numlist {display: none!important}
#quickreply .wbb-header {width: 40px!Important}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fa {color: #333;font-size: 18px;line-height: 28px;text-shadow: 0px 1px 0px #fff;text-align: center;speak: none;display: block;height: 26px;min-width: 26px;margin: 2px}
.wysibb .wysibb-toolbar {height: 50px;background: #f7f7f7;}
.wysibb-toolbar {padding: 0!important;max-height: inherit!important}
.btn-inner.modesw {min-width: inherit!important}
.wysibb-toolbar {padding: 0!important;max-height: inherit!important}
.modesw {min-width: inherit}
.wysibb-toolbar {text-align: center}
.wysibb-toolbar-container {float: none}
.wysibb-body table {display: inline-block;float: none;margin: 0 auto}
.wysibb-toolbar-btn {background: #FFF!important;border: 1px outset #DDD!important;margin: 0 2px!important}
ins.fonticon.ar {right: 8px!important}
.wysibb-toolbar-container .on {border: 1px inset #DDD!important}
.modeSwitch .btn-tooltip {left: -89px!important}
.modeSwitch .btn-tooltip ins {left: 96px!important}
.wbb-removeformat .btn-tooltip {left: -57px!important}
.wbb-removeformat .btn-tooltip ins {left: 64px!important}
.toolbar_fixed {position: fixed!important;top: 0;left: 0;right: 0;z-index: 999;border-bottom: 2px solid black!important;height: 40px!important;}
.toolbar_fixed .wysibb-toolbar-container {margin: 3px 0!important}
.wysibb-body code {background: #eee;border: 1px solid #aaa;display: block;margin: 10px 0;padding: .25em;position: relative;white-space: pre;border-radius: 0;line-height: 40px;}
.wysibb-body code:before {content: 'Code:';color: white;right: 0;padding: 5px 5px;display: block;margin: -5px -5px 0px -4px;background: black;line-height: normal;}
.frm-buttons {padding: 10px;text-align: center}
.frm-buttons input[type="submit"] {border: 0;background: none}
.frm-buttons .sbpost {background: darkcyan;padding: 5px;color: white}
.frm-buttons .sbpost:hover {background: darkmagenta}
#wbbmodal .wbbm {float: none}
/* Posting Body */
.box_form_post {padding: 10px}
.panel {margin: 0;margin-top: 10px;border-radius: 0;border: 0;box-shadow: 0 0 0}
.post_topic .forum_box_list {margin: 0}
.forum_box_post_option,.submit-buttons {padding: 5px}
.submit_posting input {border: 0;background: none;position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;color: transparent}
.submit_posting:after {content: "Gửi Bài"}
.submit_posting .fa {display: block;font-size: 50px}
.submit_posting {width: 100px;display: inline-block;margin: 0 auto;background: darkcyan;color: white;float: none;cursor: pointer;position: relative}
.submit_post {text-align: center}
.submit_posting:hover {background: darkmagenta}
.poll_multiple, .poll_cancel_vote {padding: 0}
#FB_comment {margin: 10px 0;background: white;}
/* Quote */
blockquote {float: left;border: 0;padding: 0;margin: 10px 0;background: #C47719;display: block;position: relative;z-index: 2; width: 100%;}
blockquote cite {display: block;padding: 5px;color: white;position: absolute;top: 0;left: 0;right: 0}
blockquote div {background: white;z-index: 1;border: 2px solid #C47719;margin-top: 35px;padding: 10px;}
blockquote blockquote {background: darkgreen}
blockquote blockquote>div {border-color: darkgreen}
blockquote blockquote blockquote {background: darkred}
blockquote blockquote blockquote>div {border-color: darkred}
blockquote blockquote blockquote blockquote {background: darkmagenta}
blockquote blockquote blockquote blockquote>div {border-color: darkmagenta}
blockquote cite a {color: white!important;}
/* Code */
.codebox {background: #eee;border: 1px solid #aaa;}
.codebox dt {background: #111010;padding: 5px;color: white;}
.codebox code {line-height: 27px;background: none;color: inherit;white-space: pre;display: block;padding: 0 5px;}
/* Spoiler */
.codebox.spoiler {background: #1B80AF;display: block;float: left;width: 100%;padding: 0;border: 1px solid #1B80AF;}
.codebox.spoiler .spoiler_content {background: white;padding: 0 10px;line-height: 30px;display: none;}
.codebox.spoiler dt {background: #1B80AF;color: white;padding: 5px 10px;font-weight: 100;font-size: 18px;}
.opensp .spoiler_content {display: block!important;}
.codebox.spoiler dt:before {content: "\f196  Hiện nội dung";position: absolute;right: 37px;font-family: FontAwesome, Tahoma;}
.opensp dt:before {content: "\f147  Ẩn nội dung"!important;}
/* Rules */
.agreement .forum_box_mod {padding: 5px}
.agreement .forum_box_mod ul {padding-left: 30px}
.agreement .forum_box_mod ul li {list-style-type: disc}
.submit_argeement a i {display: block;font-size: 50px;margin-bottom: 10px}
.submit_argeement {text-align: center;background: #E9EAED}
.submit_argeement a {padding: 5px;background: darkcyan;color: white;margin: 10px 20px;width: 110px;height: 90px}
.submit_argeement a:hover {background: darkmagenta}
/* confirm */
.confirm .forum_box_list {text-align: center}
.confirm .submit_posting {margin: 10px 20px}
.confirm .block_title h1{padding: 5px}
.submit_posting.yes:after {content: "Đồng Ý"}
.submit_posting.no:after {content: "Không"}

/* Search Body */
.search .forum_box_list {text-align: left}
.option_search .forum_box_mod .col-md-6 {padding: 5px}
.option_search .forum_box_mod .col-md-6 div {margin: 5px 0}
.option_search .forum_box_mod .col-md-6 span {margin: 0 10px;display: inline-block}
.search_submit {text-align: center}
.search_submit .search:after {content: "Tìm Kiếm"}
.search_submit .search .fa {margin-bottom: 10px}
.topic_search_row {border-bottom: 1px solid #ccc;}
.search_post .author {background: #23334B;color: white;padding: 10px;position: relative}
.search_post {background: white}
.search_post .search_author {background: #DDDDDD;padding: 10px}
.search_content {padding: 10px;min-height: 80px;line-height: 25px}
.coloradmin {color: red!important;}
.title_search_post h2 {margin: 5px;font-size: 18px;text-align: center}
.search_view {margin: 10px auto;}
.search_view i {margin-right: 10px;}
/* zzPoll by zzbaivong */
.zzPoll{border:1px solid #DDD;margin:20px 0;padding:10px 20px 0 20px;background: white;}
.zzPoll h3{font-size:16px;height:34px;line-height:31px;position:relative;background:url(//i83.servimg.com/u/f83/16/58/89/73/combo10.png) no-repeat scroll left top transparent;border-bottom:1px solid #DDD;padding-left:40px}
.zzPoll ul{list-style:none outside none;padding:10px 0}
.zzPoll li,#messedit{position:relative;line-height:30px;height:30px}
#poll_result .percent{right:10%!important}
#poll_ballot .poll-c, #poll_ballot .poll-c label{display:block;height:30px;line-height:30px}
#poll_ballot .c_vote{background:url(//i78.servimg.com/u/f78/17/70/81/78/sinchr10.png) no-repeat left center transparent;padding-left:35px;height:30px;display:inline-block;line-height:30px}
#poll_ballot input[type="radio"],#poll_ballot input[type="checkbox"]{display:none!important}
#poll_ballot input[type="checkbox"] + label,#poll_ballot input[type="radio"] + label{cursor:pointer;padding-left:30px;background:url(//i78.servimg.com/u/f78/17/70/81/78/minus10.png) no-repeat left center transparent;height:26px;line-height:26px}
#poll_ballot input[type="checkbox"] + label{background-image:url(//i78.servimg.com/u/f78/17/70/81/78/minus11.png)}
#poll_ballot input[type="checkbox"]:checked + label,#poll_ballot input[type="radio"]:checked + label{background-image:url(//i78.servimg.com/u/f78/17/70/81/78/checkm10.png)!important;color:#0092d5}
#poll_ballot input[type="checkbox"]:disabled + label,#poll_ballot input[type="radio"]:disabled + label{background-image:url(//i79.servimg.com/u/f79/16/48/23/13/delete10.png)!important;color:#999}
.zzPoll .totalvote{position:absolute;right:0}
.zzPoll .frm-buttons{text-align:center;border-top:3px double #DDD;height:auto;line-height:25px;margin:0;padding:10px 0}
.poll_view:after {display: none;}
.submit_posting a {color: white}
.poll_submit:after {content: "Bầu Chọn";}
.poll_ballot_submit .submit_posting {margin: 0 20px;}

/* Blog List */
.item_blog {height: 325px;overflow: hidden;margin-bottom: 20px}
.blog_image img {height: 100%;width: 100%;max-height: 270px;min-height: 270px}
.video_blog .title_video {background: darkmagenta;text-align: center;color: white;padding: 5px;font-size: 16px;margin: 0 0 10px 0;height: 52px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2}
.item_video {position: relative}
.video_blog a.item_video:hover:after {content: "\f04b";position: absolute;top: 35%;left: 32%;padding: 0 30px;background: rgba(0, 206, 209, 0.44);color: white;line-height: 83px;font-size: 30px;border-radius: 100%;font-family: FontAwesome}
.blog_tt a.item_video:hover:after {display: none}
.blog_tt {background: white;padding: 15px;height: inherit}
.blog_tt h2.post-content {font-size: 18px;margin-top: 0;color: darkgreen!important}
.blog_tt .blog_mess {color: black!important}
.blog_tt img {min-height: 150px;max-height: 150px}
.blog_tt u {display: none}
.blog_tt .blog_mess br,.blog_tt .blog_mess img {display: none;} {display: none}
.blog_tt .item_video .blog_mess:after {content: "\f06e  Xem đầy đủ bài viết";width: initial;display: inline-block;background: darkmagenta;color: white;text-align: center;padding: 5px 20px;margin: 10px 0;position: relative;float: right;font-family: FontAwesome,Tahoma;}
.blog_tt .item_video .blog_mess h2:hover {color: darkorange!important;}
.blog_tt .item_video .blog_mess:hover:after {background: darkorange;}
/* Blog Topic  Media*/
.box_box_right {margin: 20px 0}
.box_box_right .main_content {background: white;padding: 5px}
.box_forum li {font-size: 23px;padding: 0 5px;list-style-type: none;}
.box_forum ul {max-width: 100%;margin: 0;padding-left: 0;text-align: center;line-height: 36px;}
.topic_body, .media_body {padding: 10px;}
.blog_topic li.edit_topic a {position: fixed;right: 0;bottom: 0;background: darkgreen;color: white;padding: 5px;z-index: 999}
.blog_topic li.edit_topic a:hover {background: darkmagenta}
.box_change, .zoom_video span {color: white;background: #223955;padding: 5px;font-size: 14px;margin: 10px;cursor: pointer;font-family: FontAwesome,fonth4,Tahoma;-webkit-transition: background .1s ease-in-out 0s;-khtml-transition: background .1s ease-in-out 0s;-moz-transition: background .1s ease-in-out 0s;-ms-transition: background .1s ease-in-out 0s;-o-transition: background .1s ease-in-out 0s;transition: background .1s ease-in-out 0s;}
#controls {position: relative;z-index: 9999;margin-top: 10px;text-align: center;}
.box_change:before {content: "\f013  ";}
#controls span {display: inline-block;vertical-align: middle;}
.zoom_in:before {content: "\f00e  ";}
.zoom_out:before {content: "\f010  ";}
#episode {margin: 5px 0;padding: 10px 15px;line-height: 30px;}
.server:before {content: "\f1c0  ";}
.server {margin-right: 5px;font-family: FontAwesome;padding: 10px 5px;background: #45CCFF;color: white;}
#episode a:hover,#episode .active,.box_change:hover,.zoom_video span:hover {background: #45CCFF;}
#episode a {margin: 5px;background: #223955;color: #eee;line-height: 25px;padding: 5px 10px;min-width: 45px;text-align: center;font-weight: 700;border-radius: 4px;-webkit-transition: background .1s ease-in-out 0s;-khtml-transition: background .1s ease-in-out 0s;-moz-transition: background .1s ease-in-out 0s;-ms-transition: background .1s ease-in-out 0s;-o-transition: background .1s ease-in-out 0s;transition: background .1s ease-in-out 0s;  };}
.box_change:before, .zoom_video span:before {color: #45CCFF;}
.box_change:hover:before, .zoom_video span:hover:before {color: white;}
.spoiler_left,.spoiler_right {display: block;padding: 5px 20px;background: darkviolet;font-size: 20px;font-family: fonth4,Tahoma,FontAwesome;cursor: pointer;width: 50%;margin: 10px auto;color: white;}
.spoiler {padding: 5px;margin: 10px 0;}
.spoiler_title {text-align: center;}
.spoiler_left:before {content: "\f196  ";}
.spoiler_title span:hover {background: #45CCFF;}
.spoiler_right:before {content: "\f147  ";}
.spoiler_content img {margin: 10px auto;display: inherit;}
.blog_topic .tool_post li {width: 0;}
.fp_config_fix {position: absolute;top: 4px;right: 140px;width: inherit;color: white;font-family: FontAwesome,Tahoma!important}
.list_config {position: absolute;top: -60px;left: 0;width: 154px;bottom: 28px;text-align: center;background-color: rgba(0,0,0,0.65)}
.list_config li span {background: none;display: block}
.list_config li span:hover {background: rgba(255, 255, 255, 0.3)}
.list_config li:before {display: none!important}
.list_config li span:before {position: absolute;left: 5px}
.is-mouseout .fp_config_fix {display: none}
.btt_config_video {padding: 5px!Important}
.box_change small {margin-left: 5px;background: red;padding: 2px 4px;border-radius: 5px;text-align: center}
.list_config small {color: white!important;position: absolute;right: 10px;padding: 2px;line-height: normal;margin-top: 3px}
#vd_google {background-repeat: round!important;background-size: cover!important;background-position: inherit!important;}
.box_change.active,.light_off.active {background: #45CCFF!important;}
.off_video, .off_video .box_box_right, .off_video .box_forum,.off_video .post_body {background: #151C28!important;color: white!important;}
.off_video .forum_box_list,.off_video .main_content,.off_video #sub-footer,.off_video #header,.off_video #menu,div[style="overflow:visible"],.off_video .box_box_right {display:none}
.light_off:before {content: "\f0eb ";}
/* Blog Topic No Media */
.no_media .media_check {display: none!Important}
.no_media .blog_view_topic {width: 100%;padding: 0}
.no_media iframe.col-md-12 {background: black}
.no_media embed{display: none}
.frame_default {display: none;}
.video_screen {width: 60%;display: inline-block;float: none;background: black;}
#news_video {text-align: center;}
/* Yes Media */
i.blog_title_post {max-width: 79%;overflow: hidden;display: inline-block;white-space: nowrap;text-overflow: ellipsis;      line-height: 20px;position: relative;top: 4px}
.blog_message {padding: 0!important;margin-bottom: 0!important}
#google_comments, #google_comments iframe,.yes_media .col-md-8.block_title {width: 100%!important}
.yes_media .spoiler_content,.yes_media .btt_top{display:none}
.yes_media, .yes_media .post_body {}
.yes_media .box_forum {background: #F2F2F2}
.yes_media #FB_comment {margin-top: 30px}
.yes_media .topic_like {background: inherit}
.yes_media #media_topic a {color: darkturquoise;}
.video_load {color:white;width: 100%;position: relative;height: 360px;}
.load_img {position: absolute;top: 45%;display: inline-block;text-align: center;left: 0;right: 0;}
.load_img span {display: block;}
#episode a {color: white!important;}
.post_blog .tool_post {width: 0;}
#player_video {background: black;}
.yes_media .spoiler_content {padding: 5px;}
.time_video,.yes_media .block_title {display: none}
/* UCP */
.tab_menu {background: white;padding: 5px}
.panel_changer {background: white;margin-bottom: 20px}
.name_input input[type="radio"] {margin-left: 20px;margin-right: 5px}
.nav-pills>li>a:hover {background: darkmagenta;border-radius: 0;color: white}
.content_user {padding: 5px}
.ucp_submit {text-align: center}
.ucp_submit .submit_posting {margin: 0 10px}
.ucp_submit .submit_posting.reset:after {content: "Làm Lại"}
.tab_width {margin-bottom: 30px}

/* private */
#privmsgs-menu a .fa {display: block;font-size: 50px}
#privmsgs-menu div {text-align: center}
#privmsgs-menu a {min-width: 100px;background: darkgreen;color: white;padding: 5px}
.privmsgs_body {margin: 20px 0}
#privmsgs-menu a:hover {background: darkmagenta}
.privmsgs_body .forum_box_list {margin: 0}
.privmsgs_body .forum_box_box {border-bottom: 1px solid #ccc}
.privmsgs_body .box_box_lastpost input[type="checkbox"] {transform: scale(3);cursor: pointer}
.privmsgs_body .box_box_lastpost {line-height: 80px;text-align: center}
.submit_pri .btt_submit_pri:after {display: none}
.privmsgs_body .block_title h1 {font-size: 30px;line-height: 50px;color: white}
.submit_pri {text-align: center}
.submit_pri .btt_submit_pri {margin: 0 10px}
.btt_submit_pri .fa {font-size: 50px;display: block}
.mark_all, .un_mark_all {display: inline-block;background: darkcyan;padding: 0 5px}
.btt_submit_pri a {color: white}
.btt_submit_pri:hover {background: darkmagenta}
/* Color Forum */
a[href="/u1"]{color:#FF0000}
.post_topic[onclick*="Quản Trị"] {background: darkred}
.post_topic[onclick*="Cao Cấp"] {background: darkcyan;}
.post_topic[onclick*="Điều Hành Viên"] {background: darkslateblue;}
.post_topic[onclick*="Danh Dự"] {background: darkmagenta;}
.post_topic[onclick*="Bot"] {background: darkgoldenrod;}

/* Last-recent */
.last_content {background: white}
.last_topic {padding: 5px 0;position: relative;border-bottom: 5px solid #E9EAED;}
.topic_last_url {display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;font-weight: bold;}
.last_news {width: 100%;}
.last_user,.last_forum {width: initial;display: inline-block;}
.last_user:before,.last_forum:before {color: black!important;}
.last_user:before {content: "Người gửi: ";}
.last_forum:before {content: "Chuyên mục: ";}

/* Topic List New */
div[onclick*="Thông Báo"],div[onclick*="Góp Ý"],div[onclick*="Android"],div[onclick*="Java"],div[onclick*="Phim"],div[onclick*="Âm Nhạc"],div[onclick*="Tin"],div[onclick*="PC"],div[onclick*="Download"] {width: 50%}
.forum_box_box .forum_box_box_grid {text-align: left;width: 50%;}
div[onclick*="Tin Công Nghệ"],div[onclick*="Download"] {display: block;width: 100%!important;margin-top: 10px}
.forum_box_left .forum_box_box_grid,.forum_box_left .forum_header {border: 0}
.forum_box_left a,.forum_box_left .forum_header {color: white;position: relative}
.forum_box_left .forum_box_box {margin: 10px 0}
div[onclick*="PC"] .forum_header {min-height: 144px}
div[onclick*="Tin"] .forum_header div,div[onclick*="PC"] .forum_header div {padding: 0 5px}
div[onclick*="Tin"] .forum_box_img:before,div[onclick*="PC"] .forum_box_img:before {font-size: 40px!important}
div[onclick*="Tin Công Nghệ"] {display: block;width: 100%;margin-top: 10px}
div[onclick*="Giả Lập"] .forum_header,div[onclick*="Thảo Luận"] .forum_header {min-height: 139px;}
div[onclick*="Thông Báo"] .forum_header{min-height: 134px;}
.forum_box_left .forum_box_box_grid {padding: 0 10px}
.forum_box_left .forum_box_img {position: relative;text-align: center;min-height: inherit}
.forum_box_left h3 a:before {content: "\f115";font-weight: 100;font-size: 50px;font-family: FontAwesome;top: 45%;vertical-align: middle;margin-right: 10px;}
#box_forum .forum_box_url {padding: 5px;}
.viewforum .forum_box_box_grid {margin-top: 10px;}
.viewforum .forum_box_box_grid:last-child .forum_header {background: tomato;}
.viewforum .forum_box_box_grid:first-child .forum_header {background: #2F819E;}
.forum_box_box .forum_box_box_grid[onclick*="Phim Lẻ"],.forum_box_box .forum_box_box_grid[onclick*="Phim Bộ"],.forum_box_box .forum_box_box_grid[onclick*="Phim Di"],.forum_box_box .forum_box_box_grid[onclick*="Âm Nhạc"] {width: 100%;margin: 10px 0;}
div[onclick*="Thông Báo"] .forum_header {background: darkred}
div[onclick*="Android Game"] .forum_header {background: blue}
div[onclick*="Giả Lập"] .forum_header {background: deeppink}
div[onclick*="Game Java"] .forum_header {background: brown}
div[onclick*="Thảo Luận"] .forum_header {background: peru}
div[onclick*="Di Động"] .forum_header {background: slateblue}
div[onclick*="Âm Nhạc"] .forum_header {background: olive}
div[onclick*="Phim Lẻ"] .forum_header {background: indigo}
div[onclick*="Phim Bộ"] .forum_header {background: lightseagreen}
div[onclick*="Tin Trong Nước"] .forum_header {background: darkgoldenrod}
div[onclick*="Tin Game"] .forum_header {background: darkmagenta}
div[onclick*="Tin Công"] .forum_header {background: darkolivegreen}
div[onclick*="Game PC"] .forum_header {background: darkorchid}
div[onclick*="Phần Mềm"] .forum_header {background: darkslateblue}
div[onclick*="Góp Ý"] .forum_header {background: darkcyan}
div[onclick*="Download"] .forum_header {background: darkgreen}
div[onclick*="Download"] h3 a:before {content: "\f0ed"}
div[onclick*="PC"]  h3 a:before {content: "\f108"}
div[onclick*="Thông Báo"]  h3 a:before {content: "\f0a1"}
div[onclick*="Tin Game"]  h3 a:before {content: "\f11b"}
div[onclick*="Tin Công"]  h3 a:before {content: "\f10b"}
div[onclick*="Tin Trong"]  h3 a:before {content: "\f1ea"}
div[onclick*="Góp Ý"] h3 a:before {content: "\f19c"}
div[onclick*="Android"] h3 a:before {content: "\f17b"}
div[onclick*="Java"] h3 a:before {content: "\f0f4"}
div[onclick*="Phim"] h3 a:before {    content: "\f03d"}
div[onclick*="Âm Nhạc"] h3 a:before {content: "\f001"}
.forum_box_box a:hover{color: darkorange;}
.board_index[data="Phim Lẻ"] .forum_box_box_grid{display: inline-block;width: 33.33333333%;}
.board_index[data="Phim Lẻ"] .forum_box_box_grid,.board_index[data="Phim Lẻ"] .forum_header {border: 0}
.board_index[data="Phim Lẻ"] .box_chi_tiet {display: none;}
.board_index[data="Phim Lẻ"] .forum_header {position: relative;}
.board_index[data="Phim Lẻ"] h3 a {position: absolute;top: 0;bottom: 0;left: 0;right: 0;text-align: center;color: #23527c;}
.board_index[data="Phim Lẻ"] h3 a:hover {color: darkorange;}
.board_index[data="Phim Lẻ"] h3 a .box_blog {height: 194px;width: 100%;display: block;background-repeat: no-repeat;background-position: center -32px;}
.board_index[data="Phim Lẻ"] .forum_header {min-height: 226px!important;}

/* Wall */
.field_editable.invisible {display: none;}
.profile_contact {margin: 10px 0;}

/* Register */
.pwd_img{display:none}
.reg_page dl {padding: 5px;display: block;float: left;width: 100%;}
.reg_content {background: white;padding: 10px;}
fieldset {float: left;width: 100%;}
.reg_page {background: #e9eaed;}
#cont_pwd {margin-top: 10px;}
.pwd_img {width: initial;}
/* Login */
.login_page {margin: 20px 0;}
.login_page form {background: white;padding: 20px;}
.login_page input[type="submit"]:hover {background: darkmagenta!important;}
.login_page button{display:none}

/* Chatbox */
#chatbox {margin: 10px 0}
#chatbox .chat{list-style: none;margin: 0;padding: 0}
#chatbox li{padding: 10px 0;border-bottom: 10px solid #E9EAED;}
#chatbox .chat-img img {height: 55px;width: 55px;border-radius: 100%;}
#chatbox .panel-body{height: auto;padding:0;}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5}
::-webkit-scrollbar{width: 12px;background-color: #F5F5F5}
::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #555}
#chatbox .chat_image {display: inline-block;vertical-align: middle}
#chatbox .right.clearfix {text-align: right}
#chatbox .right .text-muted {float: left}
#chatbox .chat-right {float: right}
#chatbox .chatbox_header {padding: 10px 15px;background-color: #f5f5f5;border-bottom: 10px solid #E9EAED;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;}
#chatbox .right .chat-img,#chatbox .left .text-muted {float: right;}
#chatbox .warning {text-align: center;background: #E9EAED;padding: 10px 0;}
#chatbox .warning i {margin-right: 10px;color: #45CCFF;}
#chatbox .warning_body {width: 70%;display: inline-block;float: none;padding: 15px;border: 1px solid;border-color: #e0f1e9;color: #1d9d74;background-color: #f1f9f7;font-size: 40px;}
#chatbox .panel-body li {display: none;}
#chatbox .panel-body li:nth-child(1),#chatbox .panel-body li:nth-child(2),#chatbox .panel-body li:nth-child(3),#chatbox .panel-body li:nth-child(4),#chatbox .panel-body li:nth-child(5) {display: block!important;}
#chatbox .more_chat {background: #E9EAED;text-align: center;}
#chatbox .text-muted span {margin-right: 5px;}
/* Mobile */
@media only screen and (max-device-width: 700px) {
#main_body {overflow: hidden;}
#header #logo a {font-size: 20px}
#header #logo {height: inherit;margin-top: 5px}
div[class*="col-md"] {display: block;width: 100%;padding: 0 5px}
#main_body div[style="overflow:visible"],.last_topic .last_news:before,.forum_box_head_grid,i.blog_title_post,.breadcrumb a:before,.breadcrumb a:after,.breadcrumb li:last-child a:after,.breadcrumb_block .bor_forum_right,.box_like_media .col-md-2,div[style="overflow: visible;"],.breadcrumb li:nth-child(1),.breadcrumb li:nth-child(2),.fp_config_fix{display: none}
.forum_box_img,.zoom_video{display: none!important}
.col-md-12,.topic_body, .media_body,.box_thanker {padding: 0}
.last_topic {border-bottom: 1px solid #ccc}
.last_topic div[class^="col-md"] {padding: 0 5px}
.forum_box_left .forum_box_box_grid {width: 100%;margin-top: 10px}
.breadcrumb li {margin: 5px}
.block_title h1:after {left: 97%}
.breadcrumb li:first-child a:before {background: none}
.breadcrumb a {background: none!important;padding: 0 3px}
.breadcrumb a:after {display: inline;position: inherit;background: none!important;transform: none;content: "»"}
.forum_topic_list .forum_header {border: 0}
.block_title h1 a, .block_title h1 {font-size: 18px;line-height: 30px;min-height: inherit;padding: 0 5px;margin: 5px 0;-webkit-line-clamp: inherit;}
.avata_img {display: inline-block!important;width: 25%!important;height: auto;float: left!important}
.user_name_profile,.rank_text {}
.box_profile_left {display: inline-block;width: 70%;float: right}
.avata_img img,.spoiler_left, .spoiler_right,.video_screen {width: 100%;height: auto}
.tool_post {position: relative}
.tool_post li .fa {font-size: 30px}
.tool_post li {width: 25%}
.edit_topic a,.delete_topic a {font-size: 0}
.edit_topic a:after {content: "Sửa Bài";font-size: 14px}
.delete_topic a:after {content: "Xóa Bài";font-size: 14px}
.post_body .content.clearfix {margin-bottom: 20px}
.post_body {min-height: inherit}
.wysibb .wysibb-toolbar {text-align: center;float: left;height: auto;padding: 5px!important;width: 100%;border: 0;}
.blog_tt{padding: 5px!important}
.wysibb .wysibb-text {margin: 0;display: inline-block;width: 79%;padding: 5px}
h1, h2, h3 {font-size: 18px}
.post_body .content.clearfix {padding: 0;}
#postingbox .wysibb-toolbar-container {background: none;}
#postingbox .wysibb-toolbar,#postingbox .wysibb-body {min-height: 200px!important;max-height: 200px!Important;}
#postingbox .wysibb-toolbar-btn,#postingbox .wysibb-toolbar-container {margin: 0!important;padding: 0!important;}
.view_topic .profile_user,.view_topic .post_body {width: 100%;max-width: 100%;}
#player_video,.box_thanker {margin: 10px 0;}
.tool_post li {height: auto;}
.list_blog_box .blog_image {margin-bottom: 20px;}
.blog_mess h2 {line-height: 30px;}
.topic_last_url {white-space: normal;}
#chatbox .form_text {width: 70%;}
#chatbox .form_submit {width: 30%;}
#chatbox .warning_body {width: 100%;font-size: 20px;}
#chatbox .warning {padding: 0;}
.wysibb-toolbar-btn {width: 35px!important;}
.wysibb-toolbar-container {vertical-align: middle;width: initial!important;margin: 5px 0!important;float: left;}
.ve-tlb-colorpick {width: 28px;}
.wysibb-text {width: 100%!important;text-align: left;}
.title_video {overflow: inherit;height: inherit;display: block;margin: 0;width: 100%;    float: left;}
.blog_image {margin-bottom: 0!important;}
.item_blog {overflow: inherit;margin: 5px 0;height: inherit;}
.blog_tt .item_video .blog_mess:after {float: left;display: block;width: 100%;}
.forum_box_name {white-space: nowrap;overflow: hidden;}
}
